//- layout.pug
doctype html
html
  head
    title My Site Kishan Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
      ul 
        div#logo
          img(src="/static/img/logo.png", alt="logo") 
          | KDA 
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
      | Copyright @ 2021 Kishandanceacademy.com  All right | reserved
      