extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
    section#introSection 
      div  Welcome to kishan's Dance Academy 
      div.small Dance repeat again and agiain

    section#missionSection 
      h2 Our  Missions
      div.card
        h3   Dance Perfection 
        div.card-box
          div.card-img
            img(src="/static/img/1.png", alt="")  
          div.card-content
            p This is the best dance academy of the universe.  
      div.card
        h3   Dance the way you like
        div.card-box
          div.card-img
            img(src="/static/img/2.png", alt="")  
          div.card-content
            p This is the best dance academy of the universe. 
      div.card
        h3   Expeert Teaching 
        div.card-box
          div.card-img
            img(src="/static/img/3.png", alt="")  
          div.card-content
            p This is the best dance academy of the universe.  

    section#sponsorsSection 
      h2 Our  sponsors 
      #sponsors 
        img(src="/static/img/logo2.png", alt="sponsor images", Class="spImage")
        img(src="/static/img/logo3.png", alt="sponsor images", Class="spImage")
        img(src="/static/img/logo4.png", alt="sponsor images", Class="spImage")
        img(src="/static/img/logo1.jpg", alt="sponsor images", Class="spImage")
        img(src="/static/img/logo5.png", alt="sponsor images", Class="spImage") 